<!DOCTYPE html>
<html lang="ru">
<head itemscope itemtype="http://schema.org/WPHeader">
    <meta name="robots" content="<%= htmlWebpackPlugin.options.robots ? 'all' : 'none' %>">
    <meta charset="utf-8">
    <script>console.time('Loaded');</script>
    <title itemprop="headline"><%= htmlWebpackPlugin.options.title %></title>
    <meta itemprop="description" name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta property="og:title" content="Мельникова Татьяна">
    <meta property="og:description" content="Профессиональный фотограф в Санкт-Петербурге"/>
    <meta property="og:image" content="https://myinspire-ph.ru/assets/ava.jpg"/>
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://myinspire-ph.ru/"/>
    <meta property="og:locale" content="ru_RU"/>

    <script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Organization",
    "@id": "#Organization",
    "url": "https://myinspire-ph.ru/",
    "name": "Мельникова Татьяна",
    "description": "Фотограф в Санкт-Петербурге",
    "image": "https://myinspire-ph.ru/assets/ava.jpg",
    "logo": "",
    "telephone": "+79995154217",
    "email": "tatiana.mix.1910@gmail.com",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "г. Санкт-Петербург"
    },
    "sameAs": [
        "https://www.instagram.com/myinspire_ph/",
        "https://www.pinterest.ru/tatianamix1910/",
        "https://vk.com/inspiredbyspb",
        "https://wa.me/79995154217"
    ]
}
    </script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153171785-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-153171785-1');
    </script>
    <!-- End of Google Analytics -->
    <!-- Yandex Metrica -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56359039, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img alt="" src="https://mc.yandex.ru/watch/56359039" style="position:absolute; left:-9999px;"/></div>
    </noscript>
    <!-- End of Yandex Metrica -->
</head>
<body>
<% if (!htmlWebpackPlugin.options.innerHTML && !htmlWebpackPlugin.options.innerText) { %>
    <div id="body"></div>
<% } else if (htmlWebpackPlugin.options.innerHTML) { %>
    <%= htmlWebpackPlugin.options.innerHTML %>
<% } %>
</body>
</html>
