<!DOCTYPE html>
<html lang="ru">
<head itemscope itemtype="http://schema.org/WPHeader">
    <meta name="robots" content="<%= htmlWebpackPlugin.options.robots ? 'all' : 'none' %>">
    <meta charset="utf-8">
    <script>console.time('Loaded');</script>
    <title itemprop="headline"><%= htmlWebpackPlugin.options.title %></title>
    <meta itemprop="description" name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta property="og:title" content="Мельникова Татьяна">
    <meta property="og:description" content="Профессиональный фотограф в Санкт-Петербурге"/>
    <meta property="og:image" content="https://myinspire-ph.ru/assets/photos/ava-500x500.jpg"/>
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://myinspire-ph.ru/"/>
    <meta property="og:locale" content="ru_RU"/>

    <script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Organization",
    "@id": "#Organization",
    "url": "https://myinspire-ph.ru/",
    "name": "Мельникова Татьяна",
    "description": "Фотограф в Санкт-Петербурге",
    "logo": "https://myinspire-ph.ru/photos/ava-500x500.jpg",
    "telephone": "+79995154217",
    "email": "tatiana.mix.1910@gmail.com",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "г. Санкт-Петербург"
    },
    "sameAs": [
        "https://www.instagram.com/myinspire_ph/",
        "https://www.pinterest.ru/tatianamix1910/",
        "https://vk.com/inspiredbyspb",
        "https://wa.me/79995154217"
    ]
}
    </script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153171785-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-153171785-1');
    </script>
    <!-- End of Google Analytics -->
</head>
<body>
    <div id="body"></div>
</body>
</html>
