@use '~@styles/Variables.scss';

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block {
  border: 1px solid Variables.$border_color;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: -10px;
}

.nav {
  display: flex;
  flex-direction: column;

  &__link {
    color: #777777;
    text-align: center;
    padding: 7px;
    border: 1px solid Variables.$border_color;
    margin-bottom: 10px;
    font-size: 1.1rem;

    &:hover {
      color: #000;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
