@use '~@styles/Variables.scss';

.info {
  background: white;
  padding: 20px 0 0;

  &__container {
    display: flex;
    padding: 0 20px 2.3rem 20px;
    align-items: flex-start;
    border-bottom: 1px solid Variables.$border_color;
  }

  &__message {
    margin-right: 3rem;

    &_title {
      font-size: 1.5rem;
      text-align: center;
      font-weight: normal;
      margin: 25px 0 12px;
    }

    p {
      text-align: justify;
      text-indent: 2rem;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }

  &__card {
    padding: 15px;
    border: 1px solid Variables.$border_color;
    border-radius: 5px;

    &_avatar {
      padding: 0.8rem 0.8rem 1.5rem 0.85rem;
      border-bottom: 1px solid Variables.$border_color;
      margin-bottom: 20px;

      img {
        border-radius: 5px;
        max-width: 13rem;
      }
    }

    &_title {
      font-size: 1.3rem;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 12px;
    }

    &_subtitle {
      font-size: 1.1rem;
      font-weight: normal;
      opacity: 0.7;
      margin-top: 0;
      margin-bottom: 12px;
    }

    &_extra {
      font-size: 0.9rem;
      margin: 0 0 10px 0;
    }

    &_social {
      display: flex;

      a {
        margin-right: 10px;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .info {
    &__message {
      margin-right: 1.8rem;

      p {
        text-align: initial;
      }
    }

    &__container {
      padding: 0 0 2rem 0;
    }
  }
}

@media screen and (max-width: 760px) and (min-width: 500px) {
  .info {
    padding-top: 0;

    &__container {
      flex-wrap: wrap;
      padding: 0 20px 20px;
    }

    &__message {
      margin: 0 0 20px 0;
    }

    &__card {
      display: flex;
      width: 100%;

      &_message {
        display: flex;
        flex-direction: column;
      }

      &_title {
        margin: 12px 0 8px 0;
      }

      &_avatar {
        border-bottom: none;
        border-right: 1px solid Variables.$border_color;
        margin: 0 20px 0 0;
        padding: 10px 20px 10px 10px;

        img {
          max-width: 11.5rem;
        }
      }

      &_social {
        margin-top: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .info {
    padding-top: 0;

    &__container {
      flex-wrap: wrap;
      padding: 0 20px 20px;
    }

    &__message {
      margin: 0 0 20px 0;
    }

    &__card {
      width: 100%;

      &_avatar {
        display: flex;
        justify-content: center;
      }
    }
  }
}
