@import '../../assets/base.css';

.list {
  margin: 20px auto 2.5rem;

  &__item {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 1px;
    max-height: 2rem;
    transition-duration: 0.5s;
    overflow: hidden;

    &_header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &_title {
      font-size: 1rem;
      margin: 0.5rem 0;
    }

    &_price {
      margin: 0 15px 0 auto;
      font-size: 1rem;

      &:after {
        content: ' ₽';
        font-weight: normal;
      }

      &.empty:after {
        content: '';
      }
    }

    &_cross {
      height: 23px;
      width: 23px;
      padding: 3px;
      border: 1px solid #E0E0E0;
      border-radius: 50%;
      transform: rotate(45deg);
      transition-duration: 0.5s;
    }

    &.opened &_cross {
      transform: rotate(0);
    }

    &_info {
      margin-bottom: 0;

      small {
        margin-top: 10px;
        display: block;
      }
    }
  }
}

.conditions {
  margin-bottom: 2.5rem;

  &__title {
    margin: 25px 0;
    font-size: 1.2rem;
  }

  &__text {
    text-align: justify;
    text-indent: 2rem;
    margin-bottom: 12px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 740px) {
  .conditions {
    padding: 0 20px;
  }
}

@media screen and (max-width: 410px) {
  .list__item{
    padding: 12px;

    &_price {
      margin-right: 5px;
    }
  }

  .conditions__text {
    text-align: initial;
  }
}
