@import '../assets/base';

.item {
  margin: 10px 30px;

  &__title {
    padding: 10px;
    text-align: center;
  }
}

.photo {
  border: 1px solid #E0E0E0;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    transition-duration: 1s;
    transform: scale(1.1);
  }

  &:hover img {
    transform: scale(1.3);
  }
}

.block {
  display: flex;
  margin: 0 auto;
  max-width: 880px;
  flex-wrap: wrap;
  justify-content: space-between;
}
