@use '~@styles/Variables.scss';
@import '~react-image-gallery/styles/scss/image-gallery';

.portfolio {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1;

  &__close {
    color: Variables.$white_color;
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;

    &:hover {
      text-shadow: 1px 1px 3px #fff;
    }
  }
}

.item {
  margin: 7px;
  width: calc(33% - 14px);
  position: relative;

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: black;
    opacity: 0;
    transition-duration: 1s;
    color: Variables.$white_color;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__photo {
    border: 1px solid Variables.$border_color;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      transition-duration: 1s;
      transform: scale(1.1);
    }

    &:hover {
      .item__title {
        opacity: 0.5;
      }

      img {
        transform: scale(1.3);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .item {
    width: calc(50% - 14px);
  }
}

@media screen and (max-width: 400px) {
  .item {
    width: 100%;
  }
}
